<sectionclass="card">
    <div class="card-body"></div>
    <h1>ElAbout</h1>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique dicta labore, magni magnam velit illum aliquam minus sint maxime cupiditate.
</section>