<div class="jumbotron mt-4">
    <h1><div class="display-4"></div>Notes App Nodejs and MongoDB</h1>
    <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores, doloremque nostrum necessitatibus aperiam facilis!</p>
    <hrclass="my-4" >
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, minima. Ut reprehenderit pariatur ab ullam sunt, vel vitae nesciunt, illum, veniam deleniti amet atque nisi aut velit incidunt aspernatur nulla?</p>
    <a href="https://www.google.com" class="btn btn-primary">Agustin</a>

</div>