{{#if error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
</div>


{{/if}}


{{#each errors}}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
</div>



{{/each}}