<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Ingresa a tu Cuenta Bostero
            </div>
            <img src="/img/boca.png" class="rounded-circle mx-auto d-block m-4 logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" placeholder="tu mail bostero" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="tu password bostero" name="password" class="form-control">
                    </div>

                    <button class="btn btn-primary btn-block"> ENTRA BOSTERO</button>
                </form>
            </div>
        </div>
    </div>
</div>